body{
    font-family: 'Merriweather', serif;
   background-color: antiquewhite;
}
  
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.flexibole-container{
    display: flex;
    margin-bottom: 140px;
}
.half-width{
    width: 50%;
    padding-left:5%;
   
}
.left{
    margin-left:20%;
}
.half-width img{
 width: 100%;
 height: 220px;
 width: 220px;
 padding-top: 80px;
    
}
.link-button{
    text-decoration: none;
   background-image: linear-gradient(salmon,tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;

}
p{
    text-align: justify;
}
h2{
    text-align: justify;
}
.dream-big{
    padding-right:5%;
}
.left{
    padding-left:5%;
}
.developer{
    box-shadow: 10px 10px 30px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 50px;
    border-radius:5px;

}
#full-stack-developer{
    border-left: 10px solid salmon;
}
#front-end-developer{
    border-left: 10px solid purple;
}
footer h4{
    text-align: center;
}